extends layout

block content
  .overlay
    .popup
      h1.title= title
      button#single Single Player
      button#multiplayer Multiplayer
  .underlay
    .game
      aside.scores
        .player.score 0
        .enemy.score 0
      .board
        .player.paddle
        .enemy.paddle
        .ball