extends layout

block content
  .overlay
    .center
      h1= title
      button Single Player
      button Multiplayer
  .underlay
    .game
      aside.score
        .player 0
        .enemy 0
      .board
        .player.paddle
        .enemy.paddle
        .ball