doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(src='//js.leapmotion.com/leap-0.4.3.min.js')
    script(src='socket.io/socket.io.js')
    script(src='js/ClientGame.js')
    script(src='js/main.js')